= page_title "About Is It Cloudy"

#about
  %h2
    About
  #cloudwrapper
    = image_tag "cloud.png"
  %p
    Ever wonder if a website is running on the cloud? Is it cloudy was created to answer that exact question. You simply type in the url and we do the rest.
  %p
    How does the magic happen? It's simple. Using DNS and
    = link_to "WHOIS", "http://en.wikipedia.org/wiki/Whois"
    we can determine if a website runs on the cloud and which cloud it runs on. The clouds that are currently supported are: #{Website::CLOUDS.map {|k,v| v.name}.sort.join(", ")}.

  %p
    The source code is available on github:
    %a{:href=>'http://github.com/jkupferman/isitcloudy'}
      http://github.com/jkupferman/isitcloudy
    %br
    %br
    = link_to "Home", root_path

  .clear

