<div id="ask">
  <% form_for @website do |f| %>
    <%= flash_messages %>
    <p><%= f.label "url", :url, :style => 'display: none;' %></p>
    <div id="question">
      <% js_submit = "document.forms.new_website.submit();" %>

      <h2><%= link_to "Is", "#", :onclick => js_submit %></h2>
      <%= f.text_field :url, :size => 20, :value => get_default_url, :onclick => "this.value=''; this.onclick=''" %>
      <h2><%= link_to "cloudy?", "#", :onclick => js_submit %></h2>
    </div>

    <div id="submit">
      <%= submit_tag "Submit" %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  function init(){
    document.forms.new_website.setAttribute('autocomplete','off');
  }
  window.onload=init;
</script>
